[Unit]
Description=DLNA/UPnP Renderer (gmrender-resurrect)
After=network.target sound.target camilladsp.service

[Service]
Type=simple
ExecStart=/usr/bin/gmediarender -f "RasPi-Car" --uuid 5937494a-9386-444f-9e65-9831a2384932 --output alsa --gstout-audio-sink="alsasink device=default"
Restart=always
RestartSec=2
User=root
Group=audio

[Install]
WantedBy=multi-user.target
